{
    "trailingComma": "none",
    "tabWidth": 4,
    "printWidth": 100,
    "overrides": [
        {
            "files": "*.{cmp,page,component}",
            "options": { "parser": "html" }
        },
        {
            "files": "*.{md,yml,yaml,json}",
            "options": { "tabWidth": 2 }
        }
    ]
}
